/*Your styles*/

* {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

input {
	height: 40px;
	font-size: 24px;
	width: 50%;
	margin-bottom: 10px;
}

textarea {
	font-size: 16px;
	width: 50%;
	margin-bottom: 10px;
}
button {
	width: 50%;
	height: 40px;
	font-size: 24px;
}




/*
Those classes will be edited at runtime with values specified
by the settings of the CC application
*/
.hostFontColor{}
.hostFontFamily{}
.hostFontSize{}

/*font family, color and size*/
.hostFont{}
/*background color*/
.hostBgd{}
/*lighter background color*/
.hostBgdLight{}
/*darker background color*/
.hostBgdDark{}
/*background color and font*/
.hostElt{}


.hostButton{
    border:1px solid;
    border-radius:2px;
    height:20px;
    vertical-align:bottom;
    font-family:inherit;
    color:inherit;
    font-size:inherit;
}